[colors]
transparent_background_colors = true

[font]
size = 16.0

[font.normal]
family = "UDEV Gothic 35"

[scrolling]
history = 0

[terminal.shell]
program = "/bin/bash"
args = ["-c", '''
export PATH="$HOME/.nix-profile/bin:$PATH";
if command -v tmux >/dev/null; then
  if command -v fzf >/dev/null; then
    session="$(
      { tmux ls -F "#{session_name}" 2>/dev/null; echo "New (n)"; } \
      | fzf \
          --no-sort \
          --reverse \
          --no-info \
          --prompt="Select tmux session: " \
          --select-1 \
          --bind='n:last+accept' \
          --no-mouse
    )";
    if [ "$session" = "New (n)" ]; then
      tmux new -s "$(date '+%Y-%m-%d %H%M%S')";
    else
      tmux attach -t "$session";
    fi
  else
    tmux new -s "$(date '+%Y-%m-%d %H%M%S')";
  fi
else
  fish;
fi
''']

[window]
opacity = 0.9

[window.padding]
x = 4
y = 3

[terminal]
